<div class="data-summary">
<div class="row">
	<div class="col span-1-of-3">
		<h4>Fatture passive</h4>
		<p>da pagare:</p>
	</div>
	<div class="col span-3-of-3 data">
		<p id="passive_amont_to_pay"><%= calculator.total_remaining_all(invoices.passive) %> </p>
	</div>
</div>
<div class="row">
	<div class="col span-1-of-3">
		<h4>Fatture attive</h4>
		<p>da incassare:</p>
	</div>
	<div class="col span-3-of-3 data">
		<p id="active_amout_to_collect"><%= calculator.total_remaining_all(invoices.active) %></p>
	</div>
</div>
<div class="row">
	<div class="col span-1-of-3">
		<h4>Totale spese</h4>
		<p>Mese corrente:</p>
	</div>
	<div class="col span-3-of-3 data">
		<p id="current_month_costs"><%= calculator.total_costs_current_month(invoices) %></p>
	</div>
</div>
<div class="row">
	<div class="col span-1-of-3">
		<p>Anno corrente: </p>
	</div>
	<div class="col span-3-of-3 data">
		<p id="current_year_costs"><%= calculator.total_costs_current_year(invoices) %></p>
	</div>
</div>
</div>
