<tfoot>
  <tr class="totals">
    <td>Totale:</td>
    <% invoices = invoices.month_passive(month) %>
    <td class="total"><%= invoices.total_all %></td>
    <td class="vat"><%= invoices.total_vat_all %></td>
    <td class="paid"><%= calculator.total_paid_or_collected_all(invoices) %></td>
    <td class="to_pay"><%= calculator.total_remaining_all(invoices) %></td>
  </tr>
</tfoot>
