<div class="data-summary">
  <div class="row">
    <div class="col span-1-of-2">
      <h4>Totale spese</h4>
      <p>Mese corrente:</p>
    </div>
    <div class="col span-1-of-2 data">
      <br>
      <p id="current_month_costs"><%= calculator.total_costs_vehicle_current_month(vehicle.id) %></p>
    </div>
  </div>
  <div class="row">
    <div class="col span-1-of-2">
      <p>Anno corrente: </p>
    </div>
    <div class="col span-1-of-2 data">
      <p id="current_year_costs"><%= calculator.total_costs_vehicle_current_year(vehicle.id) %></p>
    </div>
  </div>
  <div class="row">
    <div class="col span-1-of-2">
      <h4>Spese gasolio</h4>
      <p>Mese corrente: </p>
    </div>
    <div class="col span-1-of-2 data">
      <br>
      <p id="current_month_fuel_costs"><%= calculator.total_fuel_receipts_current_month(fuel_receipts) %></p>
    </div>
  </div>
  <div class="row">
    <div class="col span-1-of-2">
      <p>Anno corrente: </p>
    </div>
    <div class="col span-1-of-2 data">
      <p id="current_month_fuel_costs"><%= calculator.total_fuel_receipts_current_year(fuel_receipts) %></p>
    </div>
  </div>
</div>
