<tfoot>
	<tr class="totals">
		<td>Totale:</td>
		<td class="total"><%= calculator.total_all(invoices) %></td>
		<td class="vat"><%= calculator.total_vat_all(invoices) %></td>
		<td class="paid"><%= calculator.total_paid_or_collected_all(invoices) %></td>
		<td class="to_pay"><%= calculator.total_remaining_all(invoices) %></td>
	</tr>
</tfoot>
