<tfoot>
  <tr class="totals">
    <td>Totale:</td>
    <td class="total"><%= invoices.total_all %></td>
    <td class="vat"><%= invoices.total_vat_all %></td>
    <td class="paid"><%= calculator.total_paid_or_collected_all(invoices) %></td>
    <td class="to_pay"><%= invoices.total_all - calculator.total_paid_or_collected_all(invoices) %></td>
  </tr>
</tfoot>
