<div class="data-summary">
  <div class="row">
    <div class="col span-1-of-2">
      <h4>Totale spese</h4>
      <p>Mese corrente:</p>
    </div>
    <div class="col span-1-of-2 data">
      <br>
      <p id="current_month_costs"><%= vehicle.current_month_costs.round(2) %></p>
    </div>
  </div>
  <div class="row">
    <div class="col span-1-of-2">
      <p>Anno corrente: </p>
    </div>
    <div class="col span-1-of-2 data">
      <p id="current_year_costs"><%= vehicle.current_year_costs %></p>
    </div>
  </div>
  <div class="row">
    <div class="col span-1-of-2">
      <h4>Spese gasolio</h4>
      <p>Mese corrente: </p>
    </div>
    <div class="col span-1-of-2 data">
      <br>
      <p id="current_month_fuel_costs"><%= vehicle.fuel_receipts_month_total %></p>
    </div>
  </div>
  <div class="row">
    <div class="col span-1-of-2">
      <p>Anno corrente: </p>
    </div>
    <div class="col span-1-of-2 data">
      <p id="current_month_fuel_costs"><%= vehicle.fuel_receipts_year_total %></p>
    </div>
  </div>
</div>
