<div class="data-summary">
	<div class="row">
		<div class="col span-1-of-2">
			<p id="passive_amont_to_pay"><%= vehicle.plate %> </p>
		</div>
		<div class="col span-1-of-2 data">
			<p id="total_fuel_receipts_vehicle"><%= fuel_receipts_calculator.total(vehicle.fuel_receipts_per_company(company_id)) %> $</p>
		</div>
	</div>
</div>
