<div class="row">
	<div class="companies">
		<%= render partial: 'companies/gas_station_company', collection: @fuel_receipt_dashboard.gas_station_companies, as: :company, locals:{ fuel_receipts_calculator: @fuel_receipts_calculator }%>
	</div>
</div>
