<div class="row">
  <div class="companies">
    <%= render partial: 'companies/gas_station_company', collection: @fuel_receipt_dashboard.gas_station_companies, as: :company, locals:{ calculator: @fuel_receipt_dashboard.calculator }%>
  </div>
</div>
