<tfoot>
	<tr class="totals">
		<td>Totale:</td>
		<td><%= total_all_invoices(invoices) %></td>
		<td><%= total_vat_all_invoices(invoices) %></td>
		<td><%= total_paid_or_collected_all_invoices(invoices) %></td>
		<td><%= total_remaining_all_invoices(invoices) %></td>
	</tr>
</tfoot>
