<div class="row">
<div class="index">
	<h2><%= @fuel_receipts_dashboard.company.name %></h2>
	<div id="fuel_receipts">
		<%= render partial: "fuel_receipts/fuel_receipts",  locals: { fuel_receipts: @fuel_receipts_dashboard.company_fuel_receipts_ord, fuel_receipts_calculator: @fuel_receipts_calculator } %>
	</div>
</div>
</div>
