<div class="row">
<div class="index">
	<h2><%= @fuel_receipts_dashboard.company.name %></h2>
	<div id="fuel_receipts">
		<%= render "fuel_receipts/fuel_receipts",  fuel_receipts: @fuel_receipts_dashboard.company_fuel_receipts %>
	</div>
</div>
</div>
