<div class="companies">
	<% @companies.each do |category_id, companies| %>
		<h2><%= category_of_company(category_id) %></h2>
		<%= link_to "Modifica categoria", edit_category_of_company_path(category_id)  %>
		<br>
		<%= render companies %>
	<% end %>
</div>
