<div class="row">
  <div class="invoices">
    <h3 class="title">Assicurazioni</h3>
    <table>
      <thead>
        <tr>
          <th>Assicuratore</th>
          <th>Totale</th>
          <th class="paid">Pagato</th>
          <th>Descrizione</th>
          <th class="at-the-expense-of">A carrico di</th>
          <th class="deadline">Scadenza</th>
          <th class="cash-invoice"></th>
          <th class="delete-invoice"></th>
        </tr>
      </thead>
      <%= render @insurances %>
    </table>
  </div>
</div>
