<h2>Officina</h2>
<div style="display: inline-block;">
	<h4>Totale spese</h4>
	<p id="current_month_costs">Mese corrente: <%= @calculator.total_costs_current_month(@garage_invoices.invoices) %></p>
	<p id="current_year_costs">Anno corrente: <%= @calculator.total_costs_current_year(@garage_invoices.invoices) %></p>
</div>
<br>
