<div class="row">
  <div class="index">
    <h2>Fatture attive</h2>
  </div>
</div>
<%= render partial: 'invoices/active_invoices', locals: {invoices: @invoices_dashboard.year_active, dashboard: @invoices_dashboard, calculator: @calculator } %>
