<h1>Aggiugi compania</h1>
<%= render partial: 'form' %>
<%#<a class="popup-with-form" href="#category_of_company-form">Aggiungi categoria azienda</a>%>
<%#<form id="category_of_company-form" class="mfp-hide white-popup">%>
	<%#<h1>Form</h1>%>
	<%#<%= render "category_of_companies/form"   %>
<%#</form>%>
