<nav>
	<div class="main-nav-background">
		<div class="row js--main-navigation">
			<div class="logo-sticky">
				<%=image_tag("accounting.png")%>
			</div>
			<div class="app-title-sticky">
				<h1 class="app-title" ><%= link_to "Contabilita'", root_path %></h1>
			</div>
			<ul class="main-nav clearfix col span-1-of-2 js--main-nav">
				<div class="static col span-1-of-4">
					<span><li><a href="#">Funzionalita'</a></li></span>
				</div>
				<div class="static col span-1-of-4">
					<span><li><a href="#">Costo</a></li></span>
				</div>
				<div class="static col span-1-of-4">
					<span><li><a href="#">Contatti</a></li></span>
				</div>
				<div class="static col span-1-of-4">
					<span><li><a href="#">Multiplatform</a></li></span>
				</div>
			</ul>
		</div>
	</div>
</nav>
