<section class="section-introduction">
<div class="hero-text-box">
	<div class="text-box">
		<h2>Una web-app dedicata alle piccole imprese di <br> autotrasporti
			per facilitare il calcolo dei <br> costi e dei ricavi attraverso
			la registrazione <br> delle fatture
		</h2>
	</div>
	<%= link_to "Registrati", new_user_registration_path, class: "btn btn-presentation"%>
	<a class="btn btn-presentation  js--scroll-to-start" href="#">Funzionalita</a>
</div>
</section>
<section class="section-features js--section-features">
	<div class="row">
		<div class="features">
			<div class="row">
				<div class="col span-1-of-3">
					<i class="ion-document-text icon-big"></i>
					<h3>Home</h3>
					<div class="text-box">
						<p>Si visualizzano le fatture non pagate, non incassate e la somma che e' gia' stata pagata o incassata.<br><br></p>
					</div>
				</div>
				<div class="col span-1-of-3">
					<i class="ion-settings icon-big"></i>
					<h3>Officina</h3>
					<div class="text-box">
						<p>I costi dell'officina vengono divisi per il totale dei veicoli registrari.<br><br><br></p>
					</div>
				</div>
				<div class="col span-1-of-3">
					<i class="ion-cash icon-big"></i>
					<h3>Spese</h3>
					<div class="text-box">
						<p>Le spese per ogni veicolo, compagnia, categoria o officina vengono calcolati per il mese e anno corrente.<br><br></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col span-1-of-3">
					<i class="ion-ios-browsers icon-big"></i>
					<h3>Categorie</h3>
					<div class="text-box">
						<p>Per ogni compagnia, veicolo o categoria si possono visualizzare le fatture intestate su di ogniuna di esse.<br><br></p>
					</div>
				</div>
				<div class="col span-1-of-3">
					<i class="ion-ios-bookmarks icon-big"></i>
					<h3>Aziende</h3>
					<div class="text-box">
						<p>Le compagnie appartengono a varie categorie (es: Commericialista) cosi da visualizzare i costi per ogni categoria.</p>
					</div>
				</div>
				<div class="col span-1-of-3">
					<i class="ion-filing icon-big"></i>
					<h3>Gestione categorie</h3>
					<div class="text-box">
						<p>Ogni categoria, compagnia, mezzo, fattura o pagamento si puo' aggiornare o modificare o elliminare.<br><br></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="">
</section>
