<h1>Contabilita</h1>
<%= link_to 'Fatture attive', active_invoices_path(year_param: Time.now.year) %>
<%= link_to 'Fatture passive', passive_invoices_path(year_param: Time.now.year)  %>
<%= link_to 'Aziende', dashboard_companies_path %>
<%= link_to 'Mezzi', vehicles_path %>
