<section class="introduction">
	<div class="hero-text-box">
		<h2>Una web-app dedicata alle piccole imprese di autotrasporti <br>
			per facilitare il calcolo dei costi e dei ricavi attraverso <br>
			la registrazione delle fatture
		</h2>
		<a class="btn btn-presentation" href="#">Registrati</a>
		<a class="btn btn-presentation" href="#">Introduzione</a>
	</div>
</section>
<section class="features">
</section>
