<div class="row">
  <div class="invoices">
    <h3 class="title">Fatture da pagare</h3>
    <table>
      <thead>
        <tr>
          <th>Fornitore</th>
          <th>Totale</th>
          <th class="vat">Iva</th>
          <th class="paid">Pagato</th>
          <th>Da pagare</th>
          <th>Motivo</th>
          <th class="at-the-expense-of">A carrico di</th>
          <th class="deadline">Scadenza</th>
          <th class="cash-invoice"></th>
          <th class="delete-invoice"></th>
        </tr>
      </thead>
      <%= render dashboard.invoices.not_paid, calculator: dashboard.calculator %>
      <%= render partial: "total_costs/totals", locals: {calculator: dashboard.calculator, invoices: dashboard.invoices.not_paid } %>
    </table>
  </div>
  <div class="invoices">
    <h3 class="title">Fatture da incassare</h3>
    <table>
      <thead>
        <tr>
          <th>Fornitore</th>
          <th>Totale</th>
          <th class="vat">Iva</th>
          <th class="paid">Incassato</th>
          <th>Da incassare</th>
          <th>Motivo</th>
          <th class="at-the-expense-of">A carrico di</th>
          <th class="at-the-expense-of">Scadenza</th>
          <th class="cash-invoice"></th>
          <th class="delete-invoice"></th>
        </tr>
      </thead>
      <%= render dashboard.invoices.not_collected, calculator: dashboard.calculator  %>
      <%= render partial: "total_costs/totals", locals: {calculator: dashboard.calculator, invoices: dashboard.invoices.not_collected} %>
    </table>
  </div>
</div>
