<div class="row">
  <div class="col span-1-of-3">
    <%= form.label 'Mezzo' %>
  </div>
  <div class="col span-2-of-3">
    <%= form.select(:vehicle_id) do %>
      <%= options_from_collection_for_select(@vehicles, :id, :plate, selected: form.object.at_the_expense_of) %>
    <% end %>
  </div>
</div>
