<h2><%= vehicle.plate %></h2>
<%= link_to "Fatture", dashboard_vehicle_path(vehicle.id) %><br>
<%= link_to 'Aggiorna mezzo', edit_vehicle_path(vehicle.id) %><br>
<%= button_to 'Elimina mezzo', vehicle_path(vehicle.id), method: :delete %><br>
