// Place all the styles related to the Invoice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
fieldset{
	text-decoration: none;
	border: none;
	margin: 0 0;
	padding: 0 0;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
