/*small tablets to 1200px */
@media only screen and (max-width: 1200px){

	html,
	body{font-size:18px;}
	.row{padding: 0 2%;}
	.sticky .main-nav {margin-right: 45px;}
	h3:after{
		width:100%;
	}

}

/*small tablet to big tablet from 768px to 1023px*/
@media only screen and (max-width: 1023px){

	html,
	body{font-size:17px;}
	.app-title h1{ font-size:140%;}
	.app-logo {
		margin:0 10px;
		height:25px;
	}
	.top-section-background { height:40px; }
	.company-name h2{ font-size:120%;}
	.sticky .main-nav {margin-right: 65px;}
	.dropdown-content {
		font-size: 120%;
		min-width:140px;
		padding:8px 10px;
	}
	.index .nav:after{ width: 40%; }
	.date-of-issue{display:none;}
	.vat{display:none;}

	.icon-small-trash,
	.icon-small-cash,
	.icon-small-list,
	.icon-small-compose{
		font-size:25px;
		margin:0 7px;
	}
}

/*small phones to small tablets from 481px to 767px */
@media only screen and (max-width: 767px) {

	.top-section-background { height:35px; }
	.app-title h1{
		font-size:90%;
		margin-top:3px;
	}
	.app-logo { height:20px; }
	.company-name h2{display:none;}
	.log-section {
		padding:0 10px;
		text-align:left;
		float:right;
	}
	.log-section .log-in{display:inline-block}
	.log-section .log-in h2{padding:3px 2px}
	.app-logo { height:20px; }
	.log-section h2{ font-size:80%; }
	.index .nav:after{ width: 60%; }

	.summary.col{
		width:100%;
		margin: 0 0 4% 0;
	} /*all the colums will be stacked*/

	.summary{
		margin:20px 0;
		text-align:initial;
	}

	.invoice-show{
		margin:20px 0;
		text-align:initial;
	}

	.sticky .logo-sticky{ display:none; }
	.sticky .main-nav {margin-right: auto;}
	.sticky .main-nav {margin-right: auto;}
	.sticky .app-title-sticky .app-title{ display:none; }
	.sticky .app-title-sticky { display:none; }
	.dropdown-content { margin-left:-50px; }
	.new{width:100%;}

	.deadline{display:none;}
	.paid{display:none;}
	.at-the-expense-of{display:none;}
}

/*small phones from 0 to 480*/
@media only screen and (max-width: 480px) {

	.app-title h1{
		font-size:80%;
		margin-top:10px;
	}
	.app-logo {
		height:18px;
		margin-top:10px;
	}
	.log-section {
		font-size:80%;
		margin-top:10px;
		text-align:right;
	}
	.top-section .span-1-of-2{ width:49.2%; display:inline-block; }
	.main-nav{ text-align:center; }
	.main-nav .span-1-of-6{ width:15.33%; }
	.main-nav-background { height: 30px; }
}
