/*-------------------------------------------------------------------------*/
/*BASIC SETUP*/
/*-------------------------------------------------------------------------*/

* {
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}

html,
body {
	background:#fff;
	color:#555;
	font-family:'Lato','Arial',sans-serif;
	font-weight:300;
	font-size:20px;
	height: 100%;
	text-rendering:optimizeLegibility;
}

.page-wrap{
	min-height:100%;
	margin-bottom: -100px;
}

.page-wrap:after{
	content: "";
	display:block;
}

/*-------------------------------------------------------------------------*/
/*REUSABLE CONTENTS*/
/*-------------------------------------------------------------------------*/

.row {
	max-width:1140px;
	margin:0 auto;
}

h1 {
	margin-top:0px;
	margin-bottom: 20px;
	color: #fff;
	font-size: 170%; /*its 200 % of the font size setted in the html tag*/
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 4px;
}

h2 {
	letter-spacing: 1px;
	word-spacing: 2px;
	font-weight: 200;
}

span {
	display:inline-block;
}

h3 {
	word-spacing: 2px;
	margin-top:20px;
}

h3:after {
	display: block;
	height: 2px;
	background-color: #555;
	content: " ";
	width: 260px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 20px;
}

/*------Table------*/

.invoices:after{
	display: block;
	height: 1px;
	background-color: #555;
	content: " ";
	width: 100%;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 60px;
}

.invoices th {
	border-bottom: 1px solid #2c3e50;
	width:8.56%;
}

/*------Generic links------*/

a:link,
a:visited{
	color: #698aac;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.2, color 0.2;
}

a:hover,
a:active {
	color: #2c3e50;
	border-bottom: 1px solid #2c3e50;
}



/*-------------------------------------------------------------------------*/
/*DROP DOWN MENU*/
/*-------------------------------------------------------------------------*/

.dropdown {
	position:relative;
	display:inline-block;
	color: #fff;
	font-size: 70%;
	padding: 8px 3px;
	text-transform: uppercase;
}
.dropdown span {
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;
}

.dropdown-content {
	display:none;
	position:absolute;
	background-color:#2dca6f;
	font-size: 130%;
	min-width:200px;
	box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
	padding:12px 16px;
	z-index:1;
}
.dropdown span:hover {
	border-bottom: 2px solid #2c3e50;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/*-------------------------------------------------------------------------*/
/*HEADER*/
/*-------------------------------------------------------------------------*/

.app-logo {
	margin-left:10px;
	height:40px;
	display:inline-block;
	float:left;
}

.logo-sticky{
	display:none;
	margin:5px 0;
	height:30px;
	width:auto;
	float:left;
}

.app-title-sticky{
	display:none;
	margin:5px 0;
	height:30px;
	width:auto;
	float:left;
}

.app-logo img{
	height:100%;
}

.top-section-background {
	height:60px;
	background-color:#2c3e50;
}

.top-section {
	width:100%;
	display:block;
	height:60px;
	background-color:#2c3e50;
}

.app-title {
	text-align:center;
	padding:0 0 0 20px;
}

.app-title a {
	color:#fff;
	text-decoration:none;
}

.logo-title{
	height:100%;
}

.company-name {
	padding:0 20px;
	display:inline-block;
	background-color:#fff;
	height:55px;
	text-align:center;
}

.company-name h2{
	font-size:130%;
	font-weight:300;
}

.log-section {
	padding:0 20px 0 0;
	text-align:left;
	float:right;
	height:65px;
}

.log-section h2 {
	text-decoration:none;
}

.log-section h2 a:link,
.log-section h2 a:visited{
	color: #fff;
	float:right;
	padding-bottom: 1px;
	transition: color 0.2;
}

.log-section h2 a:hover,
.log-section h2 a:active {
	color: #e74c3c;
}

.main-nav-background {
	margin-top:22px;
	background-color:#27ae60;
	height: 40px;
}

.main-nav {
	margin-left:0;
	list-style: none;
	border-left:0;
}


.main-nav {
	height: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
}

.main-nav li {
	margin:0;
	display:block;
	font-size: 70%;
	padding: 8px 3px;
	text-transform: uppercase;
	text-align:center;
}

.main-nav .static{
	text-align:center;
	margin-left:0;
}

.main-nav .dropdown:last-child{
	margin-left:0;
}

.main-nav span:first-child{
	margin-right:0;
}

.main-nav li a:link,
.main-nav li a:visited{
	text-decoration: none;
	color: #fff;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
	border-bottom: 2px solid #2c3e50;
}

/*------Sticky navigation------*/

.sticky .main-nav {
	margin-top: 10px;
	margin-bottom: 0px;
	float:right;
}

.sticky{
	margin-top: -25px;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background-color: #27ae60;
	box-shadow: 0 2px 2px #efefef;
	z-index: 9999; /*stacks the element at the top of the others;*/
}

.sticky .logo-sticky{
	margin-top: 15px;
	display:inline-block;
}

.sticky .logo-sticky img{
	height:100%;
}

.sticky .app-title-sticky .app-title{
	margin:0;
	font-size:200%;
	height:100%;
}

.sticky .app-title-sticky {
	margin-top: 15px;
	display:inline-block;
	font-size: 60%;
}

/*-------------------------------------------------------------------------*/
/*HOME*/
/*-------------------------------------------------------------------------*/

.home-invoices {
	text-align:center;
}

.invoices {
	background-color: #fdfdf6;
	text-align:center;
}

.invoices th.delete-invoice,
.invoices th.cash-invoice {
	width: 3%;
	border-bottom: 1px solid transparent;
}

.invoices td.delete-invoice a,
.invoices td.cash-invoice a {
	font-size: 120%;
	color:#698aac;
	transition: color 0.2s;
}

.invoices td.delete-invoice a:hover, 
.invoices td.delete-invoice a:active {
	color:#e74c3c;
	border-bottom: none;
}

.invoices td.cash-invoice a:hover,
.invoices td.cash-invoice a:active {
	color:#27ae60;
	border-bottom: none;
}

/*-------------------------------------------------------------------------*/
/*FOOTER*/
/*-------------------------------------------------------------------------*/

.site-footer .page-wrap:after{
	height:100px;
}

.site-footer{
	height:100px;
	background-color:#2c3e50;
	left:0px;
	bottom:0px;
	width:100%;
}
