<div class="row">
<p>Hello <%= @resource.email %>!</p>

<p>Per cambiare la password seguire le instruzioni sottostanti.</p>

<p><%= link_to 'Cambia la mia password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se non e stato richiesto il cambio della password ignorare questa e-mail.</p>
<p>La password non cambiera fino a quando non saranno seguite le istruzioni soprastanti.</p>
</div>
